<h5>Fish by Location</h5>

<div id="filters" class="section">
	<p>TODO Filters</p>
</div>

<div id="results" class="section">
	<table class="bordered">
        <thead>
          <tr>
              <th data-field="island">Island</th>
              <th data-field="spot">Spot</th>
              <th data-field="fishName">Name</th>
              <th data-field="fishInfo">Info</th>
          </tr>
        </thead>

        <tbody>
        	{{#each model.islands as |island|}}
          {{#each island.spots as |spot spotIndex|}}
          {{#each spot.fish as |fish fishIndex|}}
          <tr>
            {{#if (eq spotIndex fishIndex 0)}}
              <td rowspan="{{island.nbFish}}">{{island.name}} ({{island.code}}) {{island.nbFish}}</td>
            {{/if}}
            {{#if (eq fishIndex 0)}}
            	<td rowspan="{{spot.nbFish}}">{{spot.name}} {{spot.code}} {{spot.nbFish}}</td>
            {{/if}}
            	<td>{{fish.name}} [{{fishIndex}}]</td>
            	<td><div class="fishInfo"> INFO </div></td>
         	</tr>
          {{/each}}
         	{{/each}}
          {{/each}}
        </tbody>
      </table>
</div>